.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 2px solid rgba(0,0,0,.125);
}

.list-group-item:first-child { 
  background-color: pink;
}

#dbDisplayContainer {
  display: grid;
  /* background-color: red; */
  grid-template-columns: auto auto auto;
}

.column-property {
  border: 2px solid rgba(0,0,0,0);
  border-radius: 7px;
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#DiffDbDisplayContainer {
  display: grid;
  /* background-color: red; */
  grid-template-columns: 1fr 1fr;
}

span {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

#scriptContainer {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#scriptTextArea {
  height: 75vh;
  width: 35vw;
  background-color: seashell;
  /* grid-column: 1 / 3; */
}

.inputGridContainer {
  display: grid;
  /* background: yellowgreen; */
  grid-template-columns: auto auto;
  margin:0 10%;
}

.inputGrid {
  background: pink;
  text-align: center;
  padding: 20px 10px;
  margin: 0 1%;
  border-radius: 10px;
  text-align: right;
}

.inputGrid > input {
  margin: 2px 0;
  background-color: whitesmoke;
  border: none;
  margin-right: 22%;
  /* width: 50%; */
}

.buttonGrid {
  border:3px solid seashell;
  /* height: 100%; */
  background: seashell;
  text-align: center;
  margin: 10px 20%;
  padding: 10px 10px;
  border-radius: 10px;
  grid-column: 1 / 3;
  position: relative;
  z-index: 2;
}

.buttonGrid:hover {
  color: seashell;
  -webkit-transition: all 0.3s ease 0s; 
}

.buttonGrid:after { 
  content: "";
  height: 100%; 
  background-color: rosybrown;
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  border-radius: 10px;
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}

.buttonGrid:hover:after {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  background: #b5beda;
  font-weight: 500;
}

.buttonGrid:focus {
  outline:none !important;
}

input:focus {
  outline: none;
}

h5 {
  text-align: center;
  background: whitesmoke;
  margin: 0;
  font-size: 16px;
}

.centerText {
  text-align: center;
}

h1 {
  font-size: 44px;
  color: seashell;
}

h2 {
  font-size: 20px;
  margin-top: 2px;
  color: rgba(0,0,0,.5);
}

ul {
  /* border: 1px solid seashell; */
  padding: 10px;
}

#alert {
  position: absolute;
  top: 10%;
  left: 40%;
  background-color: yellow;
  height: 20%;
  width: 20%;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 5px 5px;
  text-align: center;
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear;
}
#title-bar {
  -webkit-app-region: drag;
  height: 40px;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  background-color:rgb(133, 149, 165);
  padding: none;
  margin: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100000000;
}

#title {
  position: fixed;
  top: 1px;
  right: 6px;
  color:white;

}

#title-bar-btns {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0px;
  left: 6px;
}
.prettierBtn{
  border-radius: 13px;
  width: 13px;
  height: 13px;
  border: none;
}
.prettierBtn:focus{
  outline: 0;
}

#app{
  margin-top: 70px;
}
.mainContainerBtns{
  margin-left: 20px;
}
.mainContainerBtns > button{
  background: whitesmoke;
  padding: 15px;
  border-radius: 5px;
  border: none;
}
.mainContainerBtns > button:focus{ 
  outline: none; 
  background: rosybrown;
  -webkit-transition: all 0.1s ease 0s; 
}
.mainContainerBtns > button:hover{
  background: wheat;
  -webkit-transition: all 0.1s ease 0s; 
}

 stupid fadein effects
#dbDisplayContainer{
  /* display: none; */
  /* padding: 6px 12px; */
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  -webkit-transition: all linear 0.1s;
}
#scriptContainer{
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  -webkit-transition: all linear 0.1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.toggleScript{
  width: 100px;
  height: 20px;
  background: seagreen;
}