.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 2px solid rgba(0,0,0,.125);
}

#dbDisplayContainer {
  display: grid;
  /* background-color: red; */
  grid-template-columns: auto auto auto;
}

.column-property {
  border: 2px solid rgba(0,0,0,.125);
  border-radius: 25px;
  cursor: default;
}

#DiffDbDisplayContainer {
  display: grid;
  /* background-color: red; */
  grid-template-columns: 50% 50%;
}

span {
  cursor: default;
}
.inputGridContainer{
  display: grid;
  /* background: yellowgreen; */
  grid-template-columns: auto auto;
  margin:0 10%;

}
.inputGrid{
  background: pink;
  text-align: center;
  padding: 20px 10px;
  margin: 0 1%;
  border-radius: 10px;
  text-align: right;

}
.inputGrid > input{
  margin: 2px 0;
  background-color: seashell;
  border: none;
  margin-right: 22%;
  /* width: 50%; */
}

.buttonGrid{
  border:3px solid seashell;
  /* height: 100%; */
  background: seashell;
  text-align: center;
  margin: 10px 20%;
  padding: 10px 10px;
  border-radius: 10px;
  grid-column: 1 / 3;
  position: relative;
  z-index: 2;
}

.buttonGrid:hover{
  color: seashell;
  -webkit-transition: all 0.3s ease 0s; 
}

.buttonGrid:after { 
  content: "";
  height: 100%; 
  background-color: rosybrown;
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  border-radius: 10px;
  transition: all 0.3s ease 0s; 
  -webkit-transition: all 0.3s ease 0s; 
  z-index: -1;
}

.buttonGrid:hover:after{ width: 100%; }

body{
  font-family: 'Ubuntu', sans-serif;
  background: #b5beda;
  font-weight: 500;
}
.buttonGrid:focus {
  outline:none !important;
}
input:focus{
  outline: none;
}
h5{
  text-align: center;
  background: whitesmoke;
  margin: 0;
  font-size: 16px;
}
.centerText{
  text-align: center;
}
h1{
  font-size: 44px;
  color: seashell;
}
h2{
  color: rgba(0,0,0,.5);
}
